# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Pytest cache
.pytest_cache/

# Reports
Reports/html_Report/*
Reports/Screenshots/*

# Logs
Logs/

# Allure reports
Reports/allure-results/
Reports/allure-report/

# Mac files
.DS_Store

# PyCharm IDE project settings (local machine specific)
.idea/